@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Manrope", sans-serif;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --light-blue: #0090f1;
    --gray-white: #f2f2f2;
    --color-1: #0c151a;
    --border-color: #007bff;
}

.flex {
    display: flex;
}

.onecardLogo {
    align-items: center;
}

.onecardLogo img {
    width: 80px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

/* Navigation */

nav {
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.navbar {
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    height: 4rem;
}

.navitems {
    align-items: center;
    justify-content: center;
}

.navLink {
    padding: 0 1rem;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    color: #323232;
}

.navLink:hover {
    color: #000000;
}

.navButton {
    text-decoration: none;
    color: white;
    background-color: var(--light-blue);
    display: inline-block;
    margin: 0 1rem;
    padding: 0.4rem;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 0px;
    border: 1px solid var(--border-color);
    transition: 0.15s ease-in-out 0s;
}

.navButton:hover {
    background-color: var(--border-color);
}



/* Section 1 */

.foraction1 {
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.leftforaction1 {
    flex-direction: column;
    max-width: 33.75rem;
    padding: 0 1rem;
    padding: 3.12rem 1.5rem;
}

.leftforaction1>* {
    margin-top: 1rem;
}

.leftforaction1 div h2 {
    font-size: 2rem;
}

.leftforaction1 div h1 {
    font-size: 3.6rem;
    color: var(--light-blue);
}

.leftforaction1 div h3 {
    color: #1892f7;
}

.leftforaction1 div p {
    font-size: 1.1rem;
    margin-top: 1rem;
    max-width: 90%;
    line-height: 1.8rem;
}

.leftforaction1 div img {
    width: 355px;
    margin-top: 1rem;
}

.leftforaction1 div button {
    width: 16rem;
    height: 2.34rem;
    color: white;
    background-color: var(--light-blue);
    border-radius: 4px;
    padding: 0.4rem;
    font-size: larger;
    letter-spacing: 0px;
    border: 1px solid var(--border-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

/* section 2 */

.foraction2 {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    padding-bottom: 100px;
}

.foraction2 h1 {
    font-size: 4rem;
    font-weight: bold;
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(92deg, #217ee6 3%, #3187d5 44%, #69a798 70%, #fcf2a6 95%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.foraction2 div {
    font-size: 3rem;
}

/* features */

.firstfeature {
    background-color: var(--white);
}

.secondfeature {
    background-color: var(--gray-white);
}

.feature1,
.feature2,
.feature3,
.feature4,
.feature5,
.feature6 {
    padding: 50px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.feature1right,
.feature3right,
.feature5right {
    flex-direction: column;
    max-width: 33.12rem;
    align-items: end;
    justify-content: center;
}

.feature1right h1,
.feature5right h1 {
    font-size: 3.5rem;
}

.feature1right p,
.feature5right p {
    text-align: end;
    color: #4e4e4e;
    font-size: 1.6rem;
}

.feature1right img,
.feature5right img {
    width: 4rem;
}

.feature1left,
.feature5left {
    max-width: 460px;
    max-height: 460px;
}

.feature2left,
.feature4left,
.feature6left {
    flex-direction: column;
    max-width: 33.12rem;
    /* align-items: end; */
    justify-content: center;
}

.feature2left h1,
.feature4left h1,
.feature6left h1 {
    font-size: 3.5rem;
}

.feature2left p,
.feature4left p,
.feature6left {
    /* text-align: end; */
    color: #4e4e4e;
    font-size: 1.6rem;
}

.feature2left img,
.feature4left img,
.feature6left img {
    width: 4rem;
}

.feature2right,
.feature4right,
.feature6right {
    max-width: 510px;
    max-height: 510px;
}

.feature3right h1 {
    font-size: 3.5rem;
}

.feature3right p {
    text-align: end;
    color: #4e4e4e;
    font-size: 1.6rem;
}

.feature3right img {
    width: 4rem;
}

.family-button {
    padding: 7px 5px;
    border: none;
    border-radius: 10px;
    width: 8.954rem;
    height: 2.688rem;
    font-weight: 600;
    font-size: 1rem;
    background-image: linear-gradient(to bottom, #217ee6, #2498e3);
    color: #fff;
}

.fbtn {
    padding: 0px;
    padding-top: 20px;
}

/* ====== 
blog section
========== */

.blogsection {
    padding: 4rem;
}

.blogsectiontitle {
    padding-bottom: 50px;
}

.blogsectiontitle h1 {
    font-size: 3.5rem;
    text-align: center;
}

.blogsectionCardsDiv p {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0;
}

.blogsectiontitle h1 span {
    color: #007bff;
}

.card {
    padding: 10px;
}

.card img {
    width: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
}

.card p {
    color: #898989;
    padding: 5px 0;
}

.blogsectionButton {
    padding: 50px;
    text-align: center;
}

.blogsectionButton button {
    padding: 7px 5px;
    border: none;
    border-radius: 10px;
    width: 8.954rem;
    height: 2.688rem;
    font-weight: 600;
    font-size: 1rem;
    background-image: linear-gradient(to bottom, #217ee6, #2498e3);
    color: #fff;
}

/* ==========
banking partner
============== */

.bankingpartner {
    background-color: var(--gray-white);
    padding: 4rem;
}

.bankingpartnerDiv {
    text-align: center;
}

.bankingpartnerDiv img {
    width: 70%;
    max-width: 25rem;
}

.bankingpartnerDiv div h1 {
    font-size: 4rem;
}

.bankingpartnerDiv div h3 {
    font-size: 1.6rem;
    font-weight: lighter;
    color: #5e5e5e;
}

.bankingpartnerDiv div>* {
    padding: 1rem;
}

/* ==========
investor
============== */

.investors {
    padding: 4rem;
}

.investorsDiv {
    text-align: center;
}

.investorsDiv h1 {
    font-size: 4rem;
}

.investorsDiv p {
    font-size: 1.7rem;
    color: #a3a3a3;
}

.investorsDiv>* {
    padding: 1rem;
}

.investorImages {
    justify-content: space-between;
    flex-wrap: wrap;
}

/* =======
footer
========== */

.footer {
    background-color: var(--color-1);
    color: white;
    padding: 4rem;
}

.foot3 {
    text-align: center;
}

.foot2 {
    padding: 3rem 0;
    flex-wrap: wrap;
}

.foot2>* {
    flex-direction: column;
    padding-top: 1rem;
}

.foot2>*>h2 {
    padding-bottom: 1rem;
}

.foot2>*>a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.5rem;
}

.foot2 {
    justify-content: space-between;
}

.foot3 img {
    max-width: 400px;
}

.regulators {
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.regulators img {
    max-width: 50px;
}

.foot1 {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.foot-1-1 {
    text-align: center;
    margin: 1rem 0;
}

.foot-1-1>* {
    padding-top: 1rem;
}

.foot-1-1 h1 {
    font-size: 2rem;
    color: #007bff;
}

.foot-1-2 {
    text-align: center;
}

.foot-1-2>* {
    padding: 1rem 0;
}

.applyNowImage {
    width: 15rem;
}

.socials {
    justify-content: center;
    gap: 1rem;
}

.foot-1-2 p {
    font-size: 1.5rem;
}

@media (max-width: 1170px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .rightCallForAction1 {
        height: 20rem;
    }
}